$base: #1e1e2e;
$crust: #11111b;
$text: #cba6f7;

* {
  max-width: 100%;
  max-height: 100%;
}

body {
  background-color: $crust;
  color: $text;
  font-family: "Ubuntu"
}

header {
  display: flex;
  justify-content: flex-start;
  max-height: 15vh;

  .ProfilePic{
    height: 90px;
    border-radius: 100px;
    margin: 7px 0 0 40px;
  }

  div {
    margin: 10px 0 0 15px;
  }

  h1 {
    margin: 0 0 0 10px;
  }

  svg {
    margin: 10px 0 0 8px;
    border-radius: 100px;
    height: 40px;
  }
}

hr {
  color: $text;
  width: 95%;
  margin-top: 4vh;
}

.projects-section{
  text-align: center;
  font-size: 40px;
  min-height: 81.4vh;
  project.icon {
    svg {
      height: 4px;
    }
  }
}

footer {
  text-align: center;
  background-color: $base;
  width: 100%;
  font-size: 20px;
}

.languages-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 34vh;
  max-height: 20vh; max-width: 160vh;
  .brackets {
    margin: 33px 0 0 40vh;
    font-size: 25px;
  }
  .languages {
    display: flex;
    flex-wrap: wrap;
    .language{
      margin-left: 5vh;
      height: 40px;
      p {
        display: flex;
        align-items: center;
        font-size: 22px;
        margin-left: 2vh;
      }
      .icon {
        margin-right: 7px; margin-bottom: 5px;
      }
    }
  }
}
