$base: #1e1e2e;
$crust: #11111b;
$text: #cba6f7;

* {
  max-width: 100%;
  max-height: 100%;
}

body {
  background-color: $crust;
  color: $text;
  font-family: "Ubuntu"
}

header {
  display: flex;
  justify-content: flex-start;

  .ProfilePic{
    height: 90px;
    border-radius: 100px;
    margin: 7px 0 0 40px;
  }

  div {
    margin: 10px 0 0 15px;
  }

  h1 {
    margin: 0 0 0 10px;
  }

  svg {
    margin: 10px 0 0 10px;
    border-radius: 100px;
    height: 40px;
  }
}

hr {
  color: $text;
  width: 95%;
}

.gh{
  text-align: center;
  margin: 15px;
  font-size: 40px;
  min-height: 81.4vh;
}

footer {
  text-align: center;
  background-color: $base;
  width: 100%;
  font-size: 20px;
}
